<app-core>
  <div class="arg-legal-text">
    <span class="is-flex is-align-items-center m-0">
      <mat-icon class="mr-2">lock</mat-icon>
      <p class="pt-1">Privacy Policy</p>
    </span>
    <span>1. Data controller</span>
    The person responsible for the processing of personal data collected through
    this website is:
    <a href="mailto:andrearglaviana@gmail.com">Andrea Rodríguez</a>
    <span>2. Personal data collected</span>
    Through the contact or demo submission form, the following data may be
    collected: Email address Subject Message content Links voluntarily provided
    by the user No additional data is collected automatically.
    <span>3. Purpose of data processing</span>
    The collected data is used exclusively to: Respond to submitted messages or
    demos Communicate with users if necessary Data is not used for marketing
    purposes.
    <span>4. Legal basis</span>
    The legal basis for processing personal data is the explicit consent
    provided by the user when submitting the form.
    <span>5. Data retention</span>
    Personal data is retained only for the time necessary to manage
    communications and is not stored in databases for long-term processing.
    <span>6. Data sharing</span>
    Personal data is not shared with third parties. If a third-party email
    service is used for message delivery, the data is processed solely for that
    purpose.
    <span>7. User rights</span>
    Users have the right to: Access their personal data Request correction or
    deletion Withdraw consent at any time Requests can be made by contacting the
    email address above.
    <span>8. Data security</span>
    Appropriate technical measures are applied to protect personal data.
    <span>9. Changes to this policy</span>
    This Privacy Policy may be updated to reflect legal or technical changes.
    <span>10. Contact</span>
    If you have any questions about this Cookies Policy, you can contact:
    <a href="mailto:andrearglaviana@gmail.com">Andrea Rodríguez</a>
  </div>
</app-core>
