form
    width: 90%
    background-color: #ffffff3f
    border-top-right-radius: 2vh
    border-top-left-radius: 2vh
    border-bottom-left-radius: 2vh

.--arg-title
    position: relative
    bottom: -10px
    height: 15%
    color: white
    line-height: .9
    padding-left: 5vw

.arg-content
    display: flex
    justify-content: end
    padding: 0 4vh 4vh 4vh
    height: 85%

@media (min-width: 500px)
    .--arg-title
        height: 30%
    .arg-content
        height: 70%