form
  max-height: 60vh
  max-width: 900px
  opacity: 0
  overflow: auto
  &.--arg-element-opened
    animation: elementActiveStrong 1s ease forwards
  button
    min-width: 150px

mat-form-field:has(textarea)
  min-height: 150px

.arg-warning-flex
  display: flex !important
  justify-content: center
  align-items: center
  flex-direction: column
  gap: 5px
  span
    text-align: center

@media (min-width: 700px)
  form.--arg-element-opened
    opacity: 1
    transform: scale(.8)
    animation: elementActiveStrong 1s ease forwards !important

@media (min-width: 1100px)
  form
    max-height: none
    overflow: hidden

