form
  width: 100% !important
  max-height: 60vh
  opacity: 0
  &.--arg-element-opened
    // opacity: 1
    animation: elementActiveStrong 1s ease forwards

  .arg-col-span-2-mobile
    grid-column: span 2

  button
    min-width: 150px

@media (min-width: 1100px)
  form.--arg-element-opened
    animation: formActiveThin 1s ease forwards !important

  .arg-col-span-2-mobile
    grid-column: span 1 !important

@keyframes formActiveThin
  0%
    opacity: 0
    transform: scale(.3)
  100% 
    opacity: 1
    transform: scale(.8)

