<app-core>
  <!-- Success message -->
  @if(isSuccessSubmission) {
  <div
    class="width100 is-flex-direction-column --arg-flex-centered --arg-text --arg-animation-strong"
    [ngClass]="{ '--arg-element-opened': isSuccessSubmission }"
  >
    <span class="has-text-centered --arg-line-break">
      {{ getMessage() }}
    </span>
  </div>

  <!-- <Form> -->
  } @else {
  <form
    class="width100"
    [formGroup]="emailForm"
    [ngClass]="{ '--arg-element-opened': !isSuccessSubmission }"
  >
    <div class="fixed-grid has-1-cols m-0">
      <div class="grid m-0">
        <!-- Asunto -->
        <div class="cell">
          <mat-form-field [subscriptSizing]="'dynamic'">
            <mat-label>Music genre</mat-label>
            <mat-select formControlName="genre" matSelect>
              <mat-option value="Dub Techno">Dub Techno</mat-option>
              <mat-option value="Hypnotic/Raw">Hypnotic/Raw</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Email -->
        <div class="cell">
          <mat-form-field [subscriptSizing]="'dynamic'">
            <mat-label>Email</mat-label>
            <input formControlName="email" type="email" matInput />
          </mat-form-field>
        </div>

        <!-- SoundCloud Link -->
        <div class="cell">
          <mat-form-field [subscriptSizing]="'dynamic'">
            <mat-label>SoundCloud Link</mat-label>
            <input formControlName="link" autocomplete="off" matInput />
          </mat-form-field>
        </div>

        <!-- About us -->
        <div class="cell height100">
          <mat-form-field [subscriptSizing]="'dynamic'">
            <mat-label>Tell us something about you and your music</mat-label>
            <textarea
              formControlName="message"
              autocomplete="off"
              matInput
            ></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>

    <!-- Warning messages -->
    <div
      class="cell --arg-text arg-warning-flex --arg-animation-thin"
      [ngClass]="{
        'is-hidden':
          showInvalidFormError || isFailedSubmission || isUnavailableService,
        '--arg-element-opened':
          showInvalidFormError || isFailedSubmission || isUnavailableService,
        '--arg-element-closed':
          !showInvalidFormError || !isFailedSubmission || !isUnavailableService
      }"
    >
      <mat-icon>warning_amber</mat-icon>
      <span [innerHTML]="getMessage()"></span>
    </div>

    <!-- Send button -->
    <div class="cell --arg-flex-centered pb-1">
      <button
        class="--arg-button --arg-button-primary button"
        [ngClass]="{
          disabled: isUnavailableService || waitingResponse
        }"
        (click)="sendEmail()"
      >
        <mat-spinner *ngIf="waitingResponse" [diameter]="20"></mat-spinner>
        <span *ngIf="!waitingResponse">SEND</span>
      </button>
    </div>
  </form>
  }
</app-core>
