<div id="containerHome">
  <!-- <ROW TOP> -->
  <div class="--arg-row-top"></div>

  <!-- <CONTENT> -->
  <div class="--arg-container-page">
    <div class="--arg-header">
      <div class="--arg-title">
        <span>ECHO</span>
        <span>SOUNDERS</span>
      </div>

      <!-- Menu -->
      <app-menu class="is-flex"></app-menu>
    </div>

    <div class="--arg-content">
      <!-- Success message -->
      @if(isSuccessSubmission) {
      <div
        class="width100 is-flex-direction-column --arg-flex-centered --arg-text --arg-animation-strong"
        [ngClass]="{ '--arg-element-opened': isSuccessSubmission }"
      >
        <span class="has-text-centered --arg-line-break">
          {{ getMessage() }}
        </span>
      </div>

      <!-- <Form> -->
      } @else {
      <form
        class="width100"
        [formGroup]="emailForm"
        [ngClass]="{ '--arg-element-opened': !isSuccessSubmission }"
      >
        <div class="fixed-grid has-1-cols m-0">
          <div class="grid m-0">
            <!-- Asunto -->
            <div class="cell">
              <mat-form-field [subscriptSizing]="'dynamic'">
                <mat-label>Subject</mat-label>
                <mat-select formControlName="subject" matSelect>
                  <mat-option value="a"> Opción A </mat-option>
                  <mat-option value="b"> Opción B </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <!-- Email -->
            <div class="cell">
              <mat-form-field [subscriptSizing]="'dynamic'">
                <mat-label>Email</mat-label>
                <input formControlName="email" type="email" matInput />
              </mat-form-field>
            </div>

            <!-- SoundCloud Link -->
            <div class="cell">
              <mat-form-field [subscriptSizing]="'dynamic'">
                <mat-label>SoundCloud Link</mat-label>
                <input formControlName="link" autocomplete="off" matInput />
              </mat-form-field>
            </div>

            <!-- About us -->
            <div class="cell height100">
              <mat-form-field [subscriptSizing]="'dynamic'">
                <mat-label>About us</mat-label>
                <textarea
                  formControlName="message"
                  autocomplete="off"
                  placeholder="Tell us something about you and your name"
                  matInput
                ></textarea>
              </mat-form-field>
            </div>

            <!-- Warning messages -->
            <div
              class="cell --arg-text arg-warning-flex --arg-animation-thin"
              [ngClass]="{
                'is-hidden':
                  showInvalidFormError ||
                  isFailedSubmission ||
                  isUnavailableService,
                '--arg-element-opened':
                  showInvalidFormError ||
                  isFailedSubmission ||
                  isUnavailableService,
                '--arg-element-closed':
                  !showInvalidFormError ||
                  !isFailedSubmission ||
                  !isUnavailableService
              }"
            >
              <mat-icon>warning_amber</mat-icon>
              <span>{{ getMessage() }}</span>
            </div>

            <!-- Send button -->
            <div class="cell --arg-flex-centered">
              <button
                class="--arg-button --arg-button-primary button"
                [ngClass]="{
                  disabled: isUnavailableService || waitingResponse
                }"
                (click)="sendEmail()"
              >
                <mat-spinner
                  *ngIf="waitingResponse"
                  [diameter]="20"
                ></mat-spinner>
                <span *ngIf="!waitingResponse">Send</span>
              </button>
            </div>
          </div>
        </div>
      </form>
      }
    </div>
  </div>

  <!-- <ROW BOTTOM> -->
  <div class="--arg-row-bottom"></div>
</div>
