<div id="containerHome">
  <!-- <Row Top> -->
  <div class="--arg-row-top"></div>

  <!-- <Row Content> -->
  <div class="--arg-container-page">
    <div class="--arg-header">
      <!-- Logo -->
      <div class="--arg-title">
        <img
          class="--arg-pointer"
          src="assets/favicon-page.svg"
          alt="Echo Sounders"
          (click)="goHome()"
        />
      </div>

      <!-- Menu -->
      <app-menu class="is-flex"></app-menu>
    </div>

    <!-- Page content -->
    <div class="--arg-content">
      <ng-content></ng-content>
    </div>
  </div>

  <!-- <Row Bottom> -->
  <div class="--arg-row-bottom --arg-flex-centered">
    <app-footer></app-footer>
  </div>
</div>
