<app-core>
  <div class="arg-legal-text">
    <span class="is-flex is-align-items-center m-0">
      <mat-icon class="mr-2">description</mat-icon>
      <p class="pt-1">Terms & Conditions</p>
    </span>
    <span>1. Purpose of the website.</span>
    This website is a personal platform intended for sharing information and
    receiving demo submissions or contact messages. No commercial transactions
    are carried out through this website.
    <span>2. Use of the website.</span>
    By using this website, you agree to use it in a lawful and respectful
    manner. You must not: Send unlawful, offensive or harmful content Attempt to
    interfere with the website`s functionality Use the contact form for spam or
    abusive purposes
    <span>3. Form submissions.</span>
    By submitting a form, you confirm that: The information provided is accurate
    and belongs to you You have the right to share the submitted content The
    website owner reserves the right to review, ignore or delete any submission.
    <span>4. Intellectual property.</span>
    All content on this website, including text, design and branding, is the
    property of the website owner unless otherwise stated. Unauthorized
    reproduction or distribution is not permitted.
    <span>5. Liability.</span>
    The website owner is not responsible for: Technical interruptions or
    temporary unavailability External links or third-party content Any misuse of
    the website by users
    <span>6. Changes.</span>
    These Terms may be updated at any time without prior notice.
    <span>7. Contact.</span>
    If you have any questions about this Cookies Policy, you can contact:
    <a href="mailto:andrearglaviana@gmail.com">Andrea Rodríguez</a>
  </div>
</app-core>
