<ng-container>
  <!-- Collapse button -->
  <div class="--arg-collapse-menu" (click)="menuOpen = true">
    <mat-icon>menu</mat-icon>
  </div>

  <!-- Collapse menu -->
  <nav class="--arg-nav-menu" [class.open]="menuOpen">
    <mat-icon (click)="menuOpen = false">close</mat-icon>
    <span (click)="goToContact()">CONTACT</span>
    <span (click)="goToAboutUs()">ABOUT US</span>
    <span (click)="goToBeaport()">BEATPORT</span>
    <span (click)="goToYoutube()">YOUTUBE</span>
    <span (click)="goToinfo()">INFO</span>
  </nav>

  <!-- Menus -->
  <div class="--arg-menus">
    <div>
      <span (click)="goToContact()">CONTACT</span>
      <span (click)="goToAboutUs()">ABOUT US</span>
      <span (click)="goToBeaport()">BEATPORT</span>
      <span (click)="goToYoutube()">YOUTUBE</span>
      <span (click)="goToinfo()">INFO</span>
    </div>
  </div>
</ng-container>
