
.--arg-text
  color: white !important
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  font-size: 15px
  padding-top: 5px
  padding-bottom: 5px
  mat-icon
    font-size: 20px
    height: fit-content

.--arg-button
  height: 45px
  padding-bottom: 14px
  min-width: 60px
  border: none
  font-size: 20px

.--arg-button-primary
  width: 100px
  background: black
  color: white
  &:not(.disabled):hover
    background-color: #000000b6
    transform: scale(1.05)
  &.disabled
    color: #575757
    background-color: #8d8282bd
    pointer-events: none

.--arg-height100
  height: 100vh !important

.--arg-flex-centered
  display: flex !important
  justify-content: center !important
  align-items: center !important

.--arg-line-break
  white-space: pre-line

.width100
  width: 100% !important

.height100
  height: 100% !important