*
  font-family: 'Monument Extended'
  line-height: 1

// Scroll bar
::-webkit-scrollbar
  width: 5px
  max-height: 100px !important
::-webkit-scrollbar-thumb
  border-radius: 5px
  background: #00000065
  cursor: pointer
  &:hover
    background: #00000080
::-webkit-scrollbar-track
  margin: 20px 0 20px 0

// All mat-form-fields
mat-form-field
  width: 100%
  .mdc-text-field
    border-radius: 10px
    background: rgba(255, 255, 255, 0.08) !important
    backdrop-filter: blur(30px) saturate(160%) !important
    -webkit-backdrop-filter: blur(30px) saturate(160%) !important
    border: 1px solid rgba(255, 255, 255, 0.18)
    mat-label, input, textarea, mat-select
      font-size: 17px !important
      color: #c6c6c6 !important
    mat-label
      white-space: pre-line

  .mdc-floating-label--float-above
    display: none !important
  .mdc-line-ripple
    display: none !important
  .mat-mdc-form-field-infix:not(:has(textarea))
    display: flex
    align-items: center
    padding: 0
  .mdc-text-field--invalid, .mdc-text-field--focused label
    color: #404654 !important
  .mat-mdc-form-field-required-marker
    color: #8c8c8c !important
    position: relative
    top: -2px
  .mat-mdc-select-arrow svg
    fill: #c6c6c6
    padding-top: 15px
  input, textarea
    caret-color: #2d2d2d !important
  ::selection
    background: #2d2d2d

mat-option span 
  font-family: 'Monument Extended' !important

// All mat-spinner
.mdc-circular-progress__indeterminate-circle-graphic
  stroke: white !important