// Scroll bar
::-webkit-scrollbar
  width: 5px
  max-height: 100px !important
::-webkit-scrollbar-thumb
  border-radius: 5px
  background: #00000065
  cursor: pointer
  &:hover
    background: #00000080
::-webkit-scrollbar-track
  margin: 20px 0 20px 0

// All mat-form-fields
mat-form-field
  width: 100%
  .mdc-text-field
    border-radius: 3px
    border: solid 2px black
    background-image: url('../../assets/white-noise.gif')
    &::before
      content: ""
      position: absolute
      inset: 0  
      background-color: rgba(255, 255, 255, 0.617)
    mat-label, input, textarea, mat-select
      font-size: 20px !important

  .mdc-text-field--invalid, .mdc-text-field--focused 
    label
      color: #404654 !important
  .mdc-line-ripple, .mat-mdc-form-field-required-marker
    display: none !important

// All mat-spinner
.mdc-circular-progress__indeterminate-circle-graphic
  stroke: white !important

.--arg-text, span
  line-height: 1