@use 'global' as *
@use 'animations' as *
@use 'custom' as *

// Fonts
@font-face 
  font-family: 'Monument Extended favicon'
  src: url('/assets/fonts/monument-extended-3.ttf') format('truetype')

@font-face 
  font-family: 'Monument Extended'
  src: url('/assets/fonts/monument-extended-2.ttf') format('truetype')